@font-face {
    font-family: "garamond";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/EBGaramond-Regular.eot");
    src: url("../fonts/EBGaramond-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/EBGaramond-Regular.ttf") format("truetype"),
	url("../fonts/EBGaramond-Regular.svg#codropsicons") format("svg");
} 

/* scroll bar */

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #444;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-webkit-scrollbar-track {
    border-width: 0
}

::-moz-scrollbar {
    width: 5px
}

::-moz-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #444;
    border-radius: 5px
}

::-moz-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-moz-scrollbar-track {
    border-width: 0
}

/* body and html general */

body, html {
    width: 100%;
    height: 100%
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* text politics */

.text-block p,
.text-block ul,
.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4,
.text-block img{
    margin-bottom: 20px;
    line-height: 1.6;
}

.text-block p:last-child,
.text-block ul:last-child,
.text-block li:last-child,
.text-block h1:last-child,
.text-block h2:last-child,
.text-block h3:last-child,
.text-block h4:last-child,
.text-block img:last-child{
    margin-bottom: 0;
}

.text-block a {
    text-decoration: underline;
    color: #C3AE90;
}

.text-block li {
    position: relative;
    margin-bottom: 15px;
}

.text-block li:before {
    width: 15px;
    height: 2px;
    background: #C3AE90;
    top: 13px;
    left: -27px;
    position: absolute;
}

.text-block strong {
    color: #C3AE90;
}

.dis-flex {
    display: flex;
}

/* general */

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

input,textarea {
    border-bottom: 1px solid #777;
    background: #222;
    padding: 20px;
    width: 100%;
    font-family: inherit;
}

input:focus, textarea:focus {
     border-bottom: 1px solid #C3AE90;
}

.button, .wpcf7-submit {
    padding: 20px 50px;
    color: #C3AE90;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #C3AE90;
    transition: all 250ms ease-in-out;
}

.button:hover, .wpcf7-submit:hover {
    background: #C3AE90; 
    color: #121212;
}

h1,h2,h3 {
    font-weight: 100;
}

.wrap {
    width: 1100px;
}

.row:after {
    content: '';
    display: table;
    clear: both;
    height: 0;
}

video {
    width: 100%;
}

/* header */

body.logged-in #header {
    top: 32px;
}

body.home #header {
    position: fixed;
    
}

#header {
    top: 0;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 10;
    padding: 30px 0;
}

.mobile-burger {
    display: none;
}

#header .logo {
    float: left;
    margin-left: 45px;
    font-size: 38px;
    position: relative;
}

#header .logo .lang-switch {
    position: absolute;
    top: 0px;
    right: -38px;
    font-size: 18px;
    padding: 3px 8px;
    background-color: #121212;
    border-radius: 4px;
}

#header #nav_menu-2 {
    display: none;
}

#header .navigation {
    float: right;
    margin-right: 45px;
}

#header .navigation li {
    display: inline;
    margin-right: -4px;
    padding: 20px;
    background-color: #000;
}

#header .navigation li:hover ,
#header .navigation li.current_page_item,
#header li.current-page-ancestor{
    background-color: #fff;
}

#header .navigation li:hover a,
#header .navigation li.current_page_item a,
#header li.current-page-ancestor a{
    color: #000;
}

#header .navigation li:last-child {
    margin-right: 0;
}

#header .navigation li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

/* header test */

.navigation-menu {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.header-navigation-item {
    float: left;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}

.header-navigation-item-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.header-navigation-item-state-wrapper {
    height: 100%;
    -webkit-transition: color 500ms;
    transition: color 500ms;
}

.header-navigation-item-state--white {
    background-color: #fff;
    -webkit-transition: -webkit-transform 500ms,color 500ms,background-color 350ms;
    -webkit-transition: color 500ms,background-color 350ms,-webkit-transform 500ms;
    transition: color 500ms,background-color 350ms,-webkit-transform 500ms;
    transition: transform 500ms,color 500ms,background-color 350ms;
    transition: transform 500ms,color 500ms,background-color 350ms,-webkit-transform 500ms;
    -webkit-transform-origin: 50% -60% 0;
    transform-origin: 50% -60% 0;
}

.header-navigation-item-state {
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 450ms,color 500ms;
    -webkit-transition: color 500ms,-webkit-transform 450ms;
    transition: color 500ms,-webkit-transform 450ms;
    transition: transform 450ms,color 500ms;
    transition: transform 450ms,color 500ms,-webkit-transform 450ms;
}

.header-navigation-item-state-content--white, .header-navigation-item-state-content--white h4 {
    color: #202020;
}

.header-navigation-item-state-content {
    padding: 0 25px;
    line-height: 70px;
}

.header-navigation-item-state--black {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #202020;
    -webkit-transform: rotateX(-90deg) translateZ(35px);
    transform: rotateX(-90deg) translateZ(35px);
}

.header-navigation-item:hover:not(.header-navigation-item--fill) .header-navigation-item-state-wrapper .header-navigation-item-state--white {
    background-color: #6d6d6d;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.header-navigation-item:hover:not(.header-navigation-item--fill) .header-navigation-item-state-wrapper .header-navigation-item-state--black {
    -webkit-transform: rotateX(0deg) translateZ(38px);
    transform: rotateX(0deg) translateZ(38px);
}

/* breadcrumps */

.page-breadcrumps {
    position: relative;
    text-align: right;
    padding-right: 75px;
    top: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

.page-breadcrumps a {
    color: #AFAFAF;
    transition: all 100ms linear;
}

.page-breadcrumps a:hover {
    color: #fff;
}

.page-breadcrumps a {
    margin-right: 10px;
}

.page-breadcrumps span { 
    margin-left: 10px;
}

/* page */

#page {
    margin-top: 200px;
}

/* footer */

#footer {
    padding: 45px 0;
    background-color: #212121;
    color: #fff;
}

/* preload */

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #090909;
    z-index: 100500;
}
#page-preloader .spinner {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 124px);
}

#page-preloader .spinner {
    width: 248px;
    height: 72px;
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
    animation: text-shadow 0.2s ease-in-out infinite;
    text-align: center;
}

#page-preloader .spinner span {
    animation: neonglow 3s infinite;
    color: #000;
}
#page-preloader .spinner .out {
    animation: ontheblink 1s infinite;
}

@-webkit-keyframes neonglow {
    20%, 70% {
        color: #000;
        text-shadow: none;
    }
    25%, 50%, 75%, 95% {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
    55% {
        color: #222;
        text-shadow: none;
    }
}
@-webkit-keyframes ontheblink {
    21%, 39%, 45%, 47%, 53% {
        color: #000;
        text-shadow: none;
    }
    26%, 38%, 40%, 44%, 46%, 48% {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
}